<h3 class="text-center">Chat grupal</h3>
<form action="/chat" method="POST">
  <div class="mb-2 row">
    <div class="col-sm-4 col-md-4 my-1"><input type="email" class="form-control" name="id" placeholder="E-mail" required /></div>
    <div class="col-sm-4 col-md-4 my-1"><input type="text" class="form-control" name="nombre" placeholder="Nombre" required /></div>
    <div class="col-sm-4 col-md-4 my-1"><input type="text" class="form-control" name="apellido" placeholder="Apellido" required /></div>
    <div class="col-sm-4 col-md-4 my-1"><input type="text" class="form-control" name="edad" placeholder="Edad" required /></div>
    <div class="col-sm-4 col-md-4 my-1"><input type="text" class="form-control" name="alias" placeholder="Alias" required /></div>
    <div class="col-sm-4 col-md-4 my-1"><input type="text" class="form-control" name="avatar" placeholder="Avatar" required /></div>

    <div class="col-sm-4 col-md-6 my-1"><input type="text" class="form-control" name="contenido" placeholder="Escribe un mensaje" required /></div>
    <button class="btn btn-success w-100 text-center col" type="submit">Enviar</button>
  </div>
</form>